.Grid {
  grid-column: 2/12;
  grid-row: 2/12;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  background-color: rgb(34, 34, 34);
  padding: .5%;
  border: 1px solid gray;
}