body {
  background-color: rgb(58, 58, 58);
}

.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  width: 100vw;
  gap: .5em;
}

.App-header {
  grid-column: 1/-1;
  background-color: rgb(34, 34, 34);
  color: #fff;
}